@@include('parts/header.html')
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="title">
						<h1>О нас</h1>
					</div>
					<div class="anchor">
						<div class="anchor_group">
							<a href="#anchor_mainInfo" class="anchor_item">Основная информация</a>
							<a href="#anchor_news" class="anchor_item">Новости</a>
						</div>
					</div>
					<div class="content">
						<p>
							Селекция бренда, анализируя результаты рекламной кампании, осмысленно масштабирует SWOT-анализ. Перераспределение бюджета, как следует из вышесказанного, переворачивает коллективный контент. Поэтому управление брендом искажает социометрический ребрендинг: 
						</p>
						<ul>
							<li>Управление брендом как искажение  социометрического поиска</li>
							<li>Селекция бренда, анализируя результаты рекламной кампании бюджета как его основа</li>
							<li>
								Поэтому управление брендом искажает социометрический ребрендинг
								<ul>
									<li>Поэтому управление брендом искажает социометрический ребрендинг</li>
									<li>Селекция бренда, анализируя результаты рекламной кампании</li>
								</ul>
							</li>
							<li>Диверсификация бизнеса, на первый взгляд, изменяет рекламный макет, работая над проектом.</li>
						</ul>
						<p>
							Можно предположить, что изменение глобальной стратегии поддерживает экспериментальный метод изучения рынка. Традиционный канал стабилизирует product placement, осознавая социальную ответственность бизнеса. По сути, комплексный анализ ситуации довольно неоднозначен. 
						</p>
						<div class="gallery">
							<div class="gallery_slider">
								<div class="swiper-container" id="js-swiperMain">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="/assets/images/slides/1.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="/assets/images/slides/1.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="/assets/images/slides/1.jpg" alt="">
										</div>
									</div>
									<div class="swiper-pagination" id="js-swiperMainPagination"></div>
								</div>
							</div>
							<div class="gallery_info">
								<div class="gallery_info_counter">
									<span id="js-swiperInfoCounter">1/15</span>
								</div>
								<div class="swiper-container" id="js-swiperThumbs">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<p>
												Подпись к блоку может быть опциональной. Можно вводить различные сноски и ссылки для  блоков с фотографиями и видео
											</p>
										</div>
										<div class="swiper-slide">
											<p>
												Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, nulla?
											</p>
										</div>
										<div class="swiper-slide">
											<p>
												Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis modi mollitia expedita ex! Totam, saepe.
											</p>
										</div>
									</div>
								</div>
								<div class="gallery_info_navigation">
									<button class="button_round button_pink button_small" id="js-swiperThumbsNavigationPrev">
										<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="3" y="7" width="2" height="11" transform="rotate(-90 3 7)" fill="white"/>
											<path d="M6 11L2 6L6 1" stroke="white" stroke-width="2"/>
										</svg>
									</button>
									<button class="button_round button_pink button_small" id="js-swiperThumbsNavigationNext">
										<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="11" y="5" width="2" height="11" transform="rotate(90 11 5)" fill="white"/>
											<path d="M8 1L12 6L8 11" stroke="white" stroke-width="2"/>
										</svg>
									</button>
								</div>
							</div>
						</div>
						<p>
							Можно предположить, что изменение глобальной стратегии поддерживает экспериментальный метод изучения рынка. Традиционный канал стабилизирует product placement, осознавая социальную ответственность бизнеса. По сути, комплексный анализ ситуации довольно неоднозначен. 
						</p>
						<blockquote class="blockquote">
							<div class="blockquote_body">
								<p>У группы «Метро» огромный опыт в строительстве, помимо жилья мы занимались инфраструктурными, промышленными, социальными объектами. Компания выступала генеральным подрядчиком строительства «ЭкспоФорума», Депо «Южное», также мы строили «Музей железных дорог России». Наша Компания обладает всеми необходимыми ресурсами.</p>
							</div>
							<div class="blockquote_name">
								<p>Геннадий Волковский</p>
								<span>Генеральный директор компании “Метро”</span>
							</div>
						</blockquote>
						<p>
							В 2018 году компания удостоилась главной архитектурной премии Европы — European Prize for Architecture. Знатоки архитектуры считают нашу компанию мастером выверенных фасадов.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="promo swiper-container" id="js-promoSwiper">
			<div class="promo_list swiper-wrapper">
				<div class="promo_item swiper-slide">
					<button class="promo_item_toggle">
						<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="9" width="1" height="19" fill="white"/>
							<rect x="19" y="9" width="1" height="19" transform="rotate(90 19 9)" fill="white"/>
						</svg>
					</button>
					<div class="promo_item_head">
						<span>Уникальные виды</span>
						<strong>Прекрасный вид</strong>
					</div>
					<div class="promo_item_info">
						<p>
							Высота восточного крыла достигает рекордных 374 метров. На высоту жителей и гостей комплекса «Федерация» доставляют 67 самых современных лифтов.
						</p>
					</div>
				</div>
				<div class="promo_item swiper-slide">
					<button class="promo_item_toggle">
						<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="9" width="1" height="19" fill="white"/>
							<rect x="19" y="9" width="1" height="19" transform="rotate(90 19 9)" fill="white"/>
						</svg>
					</button>
					<div class="promo_item_head">
						<span>Панорманые окна</span>
						<strong>Настоящие панорамы</strong>
					</div>
					<div class="promo_item_info">
						<p>
							Высота восточного крыла достигает рекордных 374 метров. На высоту жителей и гостей комплекса «Федерация» доставляют 67 самых современных лифтов.
						</p>
					</div>
				</div>
				<div class="promo_item swiper-slide">
					<button class="promo_item_toggle">
						<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="9" width="1" height="19" fill="white"/>
							<rect x="19" y="9" width="1" height="19" transform="rotate(90 19 9)" fill="white"/>
						</svg>
					</button>
					<div class="promo_item_head">
						<span>Высокие потолки</span>
						<strong>Простор для идей</strong>
					</div>
					<div class="promo_item_info">
						<p>
							Высота восточного крыла достигает рекордных 374 метров. На высоту жителей и гостей комплекса «Федерация» доставляют 67 самых современных лифтов.
						</p>
					</div>
				</div>
				<div class="promo_item swiper-slide">
					<button class="promo_item_toggle">
						<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="9" width="1" height="19" fill="white"/>
							<rect x="19" y="9" width="1" height="19" transform="rotate(90 19 9)" fill="white"/>
						</svg>
					</button>
					<div class="promo_item_head">
						<span>Приватность</span>
						<strong>VIP-безопасность</strong>
					</div>
					<div class="promo_item_info">
						<p>
							Высота восточного крыла достигает рекордных 374 метров. На высоту жителей и гостей комплекса «Федерация» доставляют 67 самых современных лифтов.
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-pagination" id="js-promoSwiperPagination"></div>
		</div>
		<div class="container container--vue" id="anchor_news">
			<div class="row">
				<div class="col">
					<div class="title">
						<h2>Новости</h2>
					</div>
					<div id="app"></div>
				</div>
			</div>
		</div>
@@include('parts/footer.html')