	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col">
					<p>2005—2019 © «Метро»</p>
				</div>
				<div class="col d-flex jc-fe">
					<p>Сделано в <a href="#">CreativePeople</a></p>
				</div>
			</div>
		</div>
	</footer>
    <script src=/assets/js/app.a06a6a72.js></script>
	<script src=/assets/js/chunk-vendors.421c59e5.js></script>
	<script src="/assets/vendor/swiper/swiper.js"></script>
	<script src="/assets/js/App.js"></script>
</body>
</html>