<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link href=/assets/css/app.fadd67a6.css rel=preload as=style>
	<link href=/assets/js/app.a06a6a72.js rel=preload as=script>
	<link href=/assets/js/chunk-vendors.421c59e5.js rel=preload as=script>
	<link href=/assets/css/app.fadd67a6.css rel=stylesheet>

	<link rel="stylesheet" href="/assets/vendor/swiper/swiper.css">
	<link rel="stylesheet" href="/assets/fonts/Noto/stylesheet.css">
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/Bundle.css">
</head>
<body>
	<header class="header" id="js-header">
		<div class="container-fluid">
			<div class="row ai-c">
				<div class="col">
					<button class="button_round button_pink button_burger">
						<svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="26" height="2" fill="white"/>
							<rect y="10" width="26" height="2" fill="white"/>
							<rect y="5" width="26" height="2" fill="white"/>
						</svg>
					</button>
				</div>
				<div class="col">
					<div class="w-100 d-flex jc-c">
						<a href="#" class="logo">
							<img src="/assets/images/logo.svg" alt="">
						</a>
					</div>
				</div>
				<div class="col">
					<div class="w-100 d-flex jc-fe">
						<div class="button_group">
							<button class="button_round header_lang">En</button>
							<button class="button_round button_dark">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.805 14.3443C4.25275 13.7871 5.62399 13.0701 7.21356 14.5636C8.19465 15.4853 8.90405 15.3844 9.54555 15.0412C10.1866 14.6981 14.1362 10.6395 14.6754 9.31174C15.2146 7.98401 14.9233 7.80457 14.6754 7.40208C14.4279 6.99905 12.708 6.05897 13.7427 3.1049C14.7777 0.150786 15.5903 -2.07385 19.8057 3.1049C20.2429 3.64202 19.8057 5.96967 19.8057 5.96967C19.8057 5.96967 16.8334 15.749 6.74737 19.8158C5.18163 20.447 1.64556 19.4474 0.218203 16.951C-0.48144 15.7276 0.533245 15.2186 2.805 14.3443Z" fill="white"/>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>